<!--                 footer start                -->



	<div id="copyrightStatement">&copy Copyright Liliya Artyukh 2015</div>
</div>
<!--     sitemap start       -->
<!--      tools start       -->
<div id="footer" >
	<div id="tools">
		<p>Tools used to create this website:<br/>
		HTML, CSS, Bootstrap, jQuery</p>
	</div><!--    tools end       -->
</div>
<!--                 footer end                -->