<!--               title header section  start            -->
<div id="mainHeader">
  <h1 id="bannerTitle">Liliya Artyukh</h1>
  <p>Software Developer</p>
</div>
<!--               title header section  end            -->