<!--               navigation bar section  start            -->
<nav  id="topNavBar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a id="linkToSite" href="/" ><div id="siteName">
		   <div id="logoBig" ><img id="logoImage" src="images/logo_small.png"/></div><p id="myName">Liliya Artyukh</p>
    </div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="about">About Me</a></li>
        <li><a href="portfolio">Portfolio</a></li>
         <li><a href="https://github.com/liliya0artyuh">GitHub</a></li>
       <!-- <li><a href="GitHub.html">GitHub</a></li>-->
        <li><a href="services">Services</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--               navigation bar section  end            -->

<!--               contact me section  start            -->
<div id="contactMe">
<div><p><a id="contactLink" href="contact">Contact me</a></p></div></div>
</div>
<!--               contact me section  end            -->