<!--      site map start       -->
<div>



	<div id="footerSiteMap" class="collapse navbar-collapse">
		<div id="SiteMapContainer">
			<div>
				<ul style="list-style-type:none">
					<li><a class="footerM" href="AboutMe.html">About me</a></li>
					<li ><a class="SiteMapSubTitle" href="AboutMe.html#educationSection">Education</a></li>
					<li><a class="SiteMapSubTitle" href="AboutMe.html#experienceSection">Experience</a></li>
				</ul>
			</div><!-- about me column -->
			<div>
				<ul style="list-style-type:none">
					 <li><a class="footerM" href="Portfolio.html">Portfolio</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Portfolio.html#programmingProjectSection">Java</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Portfolio.html#programmingProjectSection">C#</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Portfolio.html#webProjectsSection">Web</a></li>
					  <li  ><a class="SiteMapSubTitle" href="Portfolio.html#dataProjectSection">Data</a></li>
					 <li ><a class="SiteMapSubTitle" href="Portfolio.html">Technical Documentation</a></li>
				</ul>
			</div><!-- portfolio column -->
			<div>
				<ul style="list-style-type:none">
					 <li><a class="footerM" href="Services.html">Services</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Services.html">Data and Reporting</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Services.html">Database Development</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Services.html">Programming</a></li>
					  <li ><a  class="SiteMapSubTitle" href="Services.html">Testing</a></li>
					  <li ><a  class="SiteMapSubTitle" href="Services.html">Project Management</a></li>
				</ul>
			</div><!-- services column -->
			<div>
				<ul style="list-style-type:none">
					<li><a class="footerM" href="https://github.com/liliya0artyuh">GitHub</a></li>
				</ul>
			</div><!-- github column -->
			<div>
				<ul style="list-style-type:none">
					 <li><a class="footerM" href="ContactMe.html">Contact me</a></li>
					 <li  ><a  class="SiteMapSubTitle" href="ContactMe.html">E-mail</a></li>
					 <li ><a  class="SiteMapSubTitle" href="ContactMe.html">Phone</a></li>
					 <li ><a  class="SiteMapSubTitle" href="https://www.linkedin.com/profile/view?id=54876155&trk=nav_responsive_tab_profile_pic">LinkedIn</a></li>
				</ul>
			</div><!-- contact me column -->
		</div><!-- siteMapContiner end -->
	</div><!-- footerSiteMap column -->