<!--      site map start       -->
<div>



	<div id="footerSiteMap" class="collapse navbar-collapse">
		<div id="SiteMapContainer">
			<div>
				<ul style="list-style-type:none">
					<li><a class="footerM" href="about">About me</a></li>
					<li ><a class="SiteMapSubTitle" href="About#educationSection">Education</a></li>
					<li><a class="SiteMapSubTitle" href="About#experienceSection">Experience</a></li>
				</ul>
			</div><!-- about me column -->
			<div>
				<ul style="list-style-type:none">
					 <li><a class="footerM" href="Pportfolio">Portfolio</a></li>
					 <li  ><a class="SiteMapSubTitle" href="portfolio#programmingProjectSection">Java</a></li>
					 <li  ><a class="SiteMapSubTitle" href="portfolio#programmingProjectSection">C#</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Portfolio#webProjectsSection">Web</a></li>
					  <li  ><a class="SiteMapSubTitle" href="Portfolio#dataProjectSection">Data</a></li>
					 <li ><a class="SiteMapSubTitle" href="Portfolio">Technical Documentation</a></li>
				</ul>
			</div><!-- portfolio column -->
			<div>
				<ul style="list-style-type:none">
					 <li><a class="footerM" href="Services">Services</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Services">Data and Reporting</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Services">Database Development</a></li>
					 <li  ><a class="SiteMapSubTitle" href="Services">Programming</a></li>
					  <li ><a  class="SiteMapSubTitle" href="Services">Testing</a></li>
					  <li ><a  class="SiteMapSubTitle" href="Services">Project Management</a></li>
				</ul>
			</div><!-- services column -->
			<div>
				<ul style="list-style-type:none">
					<li><a class="footerM" href="https://github.com/liliya0artyuh">GitHub</a></li>
				</ul>
			</div><!-- github column -->
			<div>
				<ul style="list-style-type:none">
					 <li><a class="footerM" href="Contact">Contact me</a></li>
					 <li  ><a  class="SiteMapSubTitle" href="Contact">E-mail</a></li>
					 <li ><a  class="SiteMapSubTitle" href="Contact">Phone</a></li>
					 <li ><a  class="SiteMapSubTitle" href="https://www.linkedin.com/profile/view?id=54876155&trk=nav_responsive_tab_profile_pic">LinkedIn</a></li>
				</ul>
			</div><!-- contact me column -->
		</div><!-- siteMapContiner end -->
	</div><!-- footerSiteMap column -->