<!--      pre footer start       -->
<div id="preFooter" class="container-fluid">
		<div id="stayConnected" class="row">
			<div id="stayConnectedText" class="col-md-6  col-sm-6 " >
				Stay Connected:
			</div ><!-- column one end -->
			<div id="socialMediaDiv" class="col-md-6 col-sm-6  col-xs-12">
				<a  href="https://www.facebook.com/liliya.artyukh" >
					<div id="socialMediaIconsF" class="SMicon">
						<img id="facebookVisible" class="img-responsive" src="/images/social/faceBook_darkBlue.png" />
						<img id="facebookHidden" class="img-responsive" src="/images/social/faceBook_darkBrown.png" />
					</div>
				</a>
				<a href="https://www.linkedin.com/profile/view?id=54876155&trk=nav_responsive_tab_profile_pic" >
					<div id="socialMediaIconsL" class="SMicon">
						<img id="linkedinVisible" class="img-responsive" src="/images/social/linkedIn_darkBlue.png" />
						<img id="linkedinHidden" class="img-responsive" src="/images/social/linkedIn_darkBrown.png" />
					</div>
				</a>
				<a href="https://plus.google.com/u/0/" >
					<div id="socialMediaIconsG" class="SMicon">
						<img id="googleVisible" class="img-responsive" src="/images/social/google_darkBlue.png" />
						<img id="googleHidden" class="img-responsive" src="/images/social/google_darkBrown.png" />
					</div>
				</a>
			</div><!-- column two end -->
		</div>
		<div id="siteView" class="row">
			<form action="myMobileSite/index.html" method="GET">
				<input type="submit" value="View Mobile Site" id="viewMobile">
			</form>
		</div>
</div>
<!--      pre footer end       -->