<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="scripts/html5reset-1.6.1.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="scripts/styles.css">
</head>

<body>

<!--               header section  start            -->
<!--               navigation bar section  start            -->

<nav  id="topNavBar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a id="linkToSite" href="index.html" ><div id="siteName">
		   <div id="logoBig" ><img id="logoImage" src="images/logo_small.png"/></div><p id="myName">Liliya Artyukh</p>
    </div></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="AboutMe.html">About Me</a></li>
        <li><a href="Portfolio.html">Portfolio</a></li>
        <li><a href="GitHub.html">GitHub</a></li>
        <li><a href="Services.html">Services</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--               navigation bar section  end            -->

<div id="contactMe"><div><p><a id="contactLink" href="ContactMe.html">Contact me</a></p></div></div>

<!--               title header section  start            -->
<div id="mainHeader">
  <h1 id="bannerTitle">Liliya Artyukh</h1>
  <p>Software Developer</p>
</div>
<!--               title header section  end            -->

<!--               breadcrums section  start            -->
    <div id="breadcrums" class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Private</a></li>
        <li><a href="#">Pictures</a></li>
        <li class="active">Vacation</li>
      </ol>
    </div>
<!--               breadcrums section  end            -->
<!--               header section   end           -->


<!--                 content 1 start                -->
<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>Tools</h2>
    <p>Tools used to create this website: </p>
    <p>HTML, CSS, Bootstrap, jQuery</p>
  </div>
  <div class="col-md-4">
    <h2>Purpose</h2>
    <p>This site is a digital portfolio of my work.</p>
  </div>
  <div class="col-md-4">
    <h2>Tokyo</h2>
    <p>Tokyo is the capital of Japan, the center of the Greater Tokyo Area,
    and the most populous metropolitan area in the world.</p>
  </div>
</div>
</div>
<!--                 content 1 end                -->
<!--                 content 2 start                -->
<div id="seeMore" class="container-fluid">
</div>
<!--                 content 2 end                -->
<!--                 content 3 start                -->
<div id="content3" class="container">
</div>
<!--                 content 3 end                -->

<!--                 footer start                -->
<div id="preFooter" >
<div id="stayConnected">Stay Connected:</div></div>
<div id="footerSiteMap" class="collapse navbar-collapse">
<div id="SiteMapContainer">
<div>
<ul style="list-style-type:none">
 <li><a class="footerM" href="AboutMe.html">About me</a></li>
 <li ><a class="SiteMapSubTitle" href="#">Background</a></li>
 <li ><a class="SiteMapSubTitle" href="#">Education</a></li>
 <li><a class="SiteMapSubTitle" href="#">Experience</a></li>
  <li><a class="SiteMapSubTitle" href="#">Hobbies</a></li>
  <li><a class="SiteMapSubTitle" href="#">????</a></li>
 <li><a class="SiteMapSubTitle" href="#">?????</a></li>
</ul>
</div>
<div>
<ul style="list-style-type:none">
 <li><a class="footerM" href="Portfolio.html">Portfolio</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">Java</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">C#</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">Web</a></li>
  <li  ><a class="SiteMapSubTitle" href="#">Data</a></li>
  <li  ><a  class="SiteMapSubTitle" href="#">Mobile</a></li>
 <li ><a class="SiteMapSubTitle" href="#">Technical Documentation</a></li>
</ul>
</div>
<div>
<ul style="list-style-type:none">
 <li><a class="footerM" href="Services.html">Services</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">Data and Reporting</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">Database Development</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">Programming</a></li>
  <li ><a  class="SiteMapSubTitle" href="#">Testing</a></li>
  <li ><a  class="SiteMapSubTitle" href="#">Project Management</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">?????</a></li>
</ul>
</div>
<div>
<ul style="list-style-type:none">
 <li><a class="footerM" href="GitHub.html">GitHub</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">?????</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">????</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">????</a></li>
  <li ><a  class="SiteMapSubTitle" href="#">?????</a></li>
  <li ><a  class="SiteMapSubTitle" href="#">????</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">?????</a></li>
</ul>
</div>
<div>
<ul style="list-style-type:none">
 <li><a class="footerM" href="ContactMe.html">Contact me</a></li>
 <li  ><a  class="SiteMapSubTitle" href="#">E-mail</a></li>
 <li ><a  class="SiteMapSubTitle" href="#">Phone</a></li>
 <li ><a  class="SiteMapSubTitle" href="#">LinkedIn</a></li>
  <li  ><a class="SiteMapSubTitle" href="#">?????</a></li>
  <li  ><a class="SiteMapSubTitle" href="#">????</a></li>
 <li  ><a class="SiteMapSubTitle" href="#">?????</a></li>
</ul>
</div>
</div></div>
<div id="footer" ><div id="copyrightStatement">&copy Copyright Liliya Artyukh 2015</div></div>
<!--                 footer end                -->

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>