<!--  Portfolio.html ; Liliya Artyukh ;  page that provides information about the projects i have done             -->

<!DOCTYPE html>
<html>
<head><% include partials/head.ejs %></head>

<body onload="main();">

<!--               header section  start            -->
<!-- nav, contact me, banner -->
<% include partials/nav.ejs %>
<% include partials/header.ejs %>
<!--               header section   end           -->


<!--                 content 1 start                -->
<div class="container" id="programmingProjectSection">
	<h2>Programming Projects</h2>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div id="myCarousel1" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
						<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel1" data-slide-to="1"></li>
						<li data-target="#myCarousel1" data-slide-to="2"></li>
						<li data-target="#myCarousel1" data-slide-to="3"></li>
						<li data-target="#myCarousel1" data-slide-to="4"></li>
						<li data-target="#myCarousel1" data-slide-to="5"></li>
						<li data-target="#myCarousel1" data-slide-to="6"></li>
						<li data-target="#myCarousel1" data-slide-to="7"></li>
						<li data-target="#myCarousel1" data-slide-to="8"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="/images/projects/CSlogoBig2.png" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/paymentSourceProject.png" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/csharpProject.png" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/CSlogoBig1.png" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/bakery_4.PNG" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/bakery_1.1.PNG" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/bakery_1.PNG" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/bakery_2.PNG" alt="">
							</div>
							<div class="item">
								<img src="/images/projects/bakery_3.PNG" alt="">
							</div>
					  </div>

					  <!-- Left and right controls -->
					  <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					  </a>
				</div><!-- carousel end -->
  			</div><!-- col end -->
	</div><!-- row end -->
</div><!-- container end -->
<!--                 content 1 end                -->

<!--                 content 2 start                -->
<div class="container" id="dataProjectSection">
  <h2>Database Projects</h2>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel2" data-slide-to="1"></li>
	    <li data-target="#myCarousel2" data-slide-to="2"></li>
	    <li data-target="#myCarousel2" data-slide-to="3"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="/images/projects/dataCover.png" alt="">
	    </div>

	    <div class="item">
	      <img src="/images/projects/ERD.JPG" alt="">
	    </div>

	    <div class="item">
	      <img src="/images/projects/dataEzipin.png" alt="">
	    </div>

	    <div class="item">
	      <img src="/images/projects/ezipinDetails.png" alt="">
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
</div>
  </div>
</div>
</div>
<!--                 content 2 end                -->


<!--                 content 3 start                -->
<div class="container" id="webProjectsSection">
    <h2>Web Development  Projects</h2>
<div class="row">
 <div class="col-sm-6 col-sm-offset-3">
   <div id="myCarousel3" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel3" data-slide-to="1"></li>
       <li data-target="#myCarousel3" data-slide-to="2"></li>
       <li data-target="#myCarousel3" data-slide-to="3"></li>
             <li data-target="#myCarousel3" data-slide-to="4"></li>
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
       <div class="item active">
         <img src="/images/projects/web1.png" alt="">
       </div>

       <div class="item">
         <img src="/images/projects/web2.png" alt="">
       </div>

       <div class="item">
         <img src="/images/projects/web3.png" alt="">
       </div>

       <div class="item">
         <img src="/images/projects/web4.png" alt="">
       </div>
        <div class="item">
	            <img src="/images/projects/web5.png" alt="">
       </div>
     </div>

     <!-- Left and right controls -->
     <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
</div>
</div>
</div>
</div>
<!--                 content 3 end                -->

<!--                 footer start                -->
<% include partials/social.ejs %>
<% include partials/sitemap.ejs %>
<% include partials/footer.ejs %>
<!--                 footer end               -->

<% include partials/jsdefaults.ejs %>
</body>
</html>